.wrapper {
    position: absolute;
    bottom: 100px;
}

.timelineWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 20px;
    background-attachment: fixed;
    background: linear-gradient(to right, white 0%, transparent 30%, transparent 70%, white 100%);
    z-index: 1;
    overflow-x: auto;
}

.currentTimeWrapper {
    position: relative;
    top: -30px;
    left: 700px;
}

.currentTimeMarker {
    width: 1px;
    height: 150px;
    left: 18px;
    top: 175px;
    position: relative;
    background: #0067c5;
}

.currentTimeClock {
    top: 175px;
    position: relative;
    z-index: 2;
    color: #0067c5;
}

.timelineEntry {
    background-color: #f1f1f1;
    padding: 20px;
    min-width: 300px;
    z-index: -10;
}

.patientName {
    text-align: left;
    display: inline;
}

.patientAge {
    text-align: left;
}

.patientAppointment {
    text-align: right;
    float: right;
    display: inline;
}
