.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.appointment {
    min-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 1px solid #a0a0a0;
}

.currentTime {
    text-align: left;
    float: left;
    display: inline;
    color: #a0a0a0;
    margin-left: 50px;
}

.patientName {
    text-align: right;
    float: right;
    display: inline;
    margin-right: 50px;
}

.patientAge {
    text-align: right;
    float: right;
    display: block;
}
