.overviewWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 3ch;
}

.dailyMessage {
    grid-column: span 2;
    margin: auto 0;
}

.dynamicField {
    color: #0067c5;
}

.notifications {
    background-color: #efefef;
    border-radius: 3px;
    padding: 3ch;
}

.calendar {
    background-color: #efefef;
    border-radius: 3px;
    padding: 3ch;
    grid-row: span 2;
}
