.patientDetailWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    width: 100%;
    gap: 3ch;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    width: 24%;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.patientSummaryWrapper {
    width: 100%;
}

.patientSummaryInfo {
    width: 50%;
}

.returnButton {
    font-size: 4ch;
    color: #0067c5;
    margin: 2ch 0 0 0;
    cursor: pointer;
}
