.patientDetailWrapper {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 6%;
    justify-content: space-between;
    width: 60vw;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50%;
}

.buttons button {
    width: 24%;
}

.composition {

}