.wrapper {
    background-color: #efefef;
    display: grid;
    grid-template-rows: 10% auto auto auto;
    grid-template-columns: 100%;
    width: 180px;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.wrapper div {
    margin-left: 3ch;
}

.wrapper > img {
    margin: auto;
}

.identifier {
    text-transform: uppercase;
}

.options {
    margin: auto 0;
}

.options > .active {
    color: #0067c5;
}

.options p {
    text-decoration: underline;
}

.options p:hover {
    text-decoration: none;
    cursor: pointer;
}

.options p + p {
    margin-top: 2ch;
}

.session {
    margin: auto 3ch 3ch 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
