.wrapper {
    margin-top: 1ch;
    display: flex;
    flex-direction: row;
    gap: 1ch;
    overflow: auto;
}

.card {
    background-color: #cce1ff;
    min-width: calc(50% - 1ch);
    padding: 4ch;
    border-radius: 2ch;
    margin-bottom: 1ch;
}

.card > * {
    margin: 5px 0;
}
