.compositionWrapper {
    margin: 3ch 0;
}

.composition {
    margin: 3ch auto 0;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date > div {
    display: flex;
    flex-direction: row;
    gap: 1ch;
}

.expand {
    grid-column: 4;
    justify-self: end;
    cursor: pointer;
}

.expand > svg {
    vertical-align: middle;
}

.condition {
    padding: 2ch;
    margin: 0.5% auto;
    display: grid;
    grid-template-columns: 8% auto auto;
    background-color: #efefef;
    border-radius: 3px 3px 0 0;
}
.condition.active {
    background-color: #0067c5;
    color: #ffffff;
}

.condition.active:last-child {
    border-radius: 0;
}

.condition:last-child {
    border-radius: 0 0 3px 3px;
}

.timelineWrapper {
    padding: 2ch;
    margin: 0.5% auto;
    background-color: #efefef;
    z-index: 0;
    width: inherit;
}

.dropdown {
    font-size: 24px;
    margin: auto;
    cursor: pointer;
}

.tableWrapper {
    z-index: 2;
    width: 100%;
    border-spacing: 4px;
}

.tableWrapper thead tr {
    width: 100%;
    text-align: left;
}

.tableWrapper tbody tr {
    width: inherit;
    text-align: left;
}

.tableWrapper tr > td:first-child,
.tableWrapper tr > th:first-child {
    max-width: 10ch;
    width: 10ch;
}

.tableWrapper tr > td:nth-child(2),
.tableWrapper tr > th:nth-child(2) {
    max-width: 20px;
    width: 20px;
}

.tableWrapper tr > td:nth-child(3),
.tableWrapper tr > th:nth-child(3) {
    max-width: 40ch;
    width: 40ch;
}

.tableWrapper tr > td:nth-child(4),
.tableWrapper tr > th:nth-child(4) {
    max-width: 10ch;
    width: 10ch;
}

.tableWrapper td > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.invisible {
    display: none;
}

.timestamp {
    background-color: #fefefefe;
    border: #0067c5 2px solid;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    margin: 1px auto;
    z-index: 3;
    cursor: pointer;
}

.selected::before {
    content: " ";
    position: absolute;
    height: 10px;
    width: 10px;
    margin: 1px 1px;
    background-color: #0067c5;
    border-radius: 100%;
    z-index: 4;
}

tr:not(:nth-child(1)) .timestamp::after {
    content: " ";
    position: absolute;
    height: 28px;
    width: 12px;
    clip-path: inset(0 40% 0 40%);
    background-color: #ffffff;
}

tr:last-child .timestamp::after {
    display: none;
}

.addEntry svg {
    margin: 1px 1px;
    font-size: 16px;
    vertical-align: middle;
    color: #6a6a6a;
    cursor: pointer;
}

.addEntry p {
    cursor: pointer;
    color: #6a6a6a;
}
