.observationWrapper {
    width: 100%;
    background-color: #efefef;
    margin: 3ch 0 0 0;
    border-radius: 3px;
}

.observationWrapper > p {
    padding: 1ch 1ch 0 1ch;
}

.inputArea {
    background-color: #ffffff;
    margin: 1ch;
    border-radius: 3px;
}

.inputHeader {
    color: #6a6a6a;
    padding: 1ch;
}

.inputField {
    border: none;
    margin: 1ch;
    width: calc(100% - 2ch);
    height: 10ch;
    resize: vertical;
}
