.wrapper {
    width: 640px;
    padding: 20px;
}

.searchWrapper {
    width: 100%;
    border-bottom: 0.1rem solid gray;
}

.input {
    width: 95%;
    border: none;
    font-size: 32px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.input:focus {
    outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    color: #0067c5;
}
