.patientCard {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2ch;
    margin: 6ch 0 0 0;
}

.patientCard > h1 {
    grid-column: span 2;
}

.patientCard h2 {
    color: #0067c5;
}

.infoGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoGroup > div {
    background-color: #0067c5;
    width: 2px;
}

.infoGroup > p {
    text-transform: capitalize;
}

.contact {
    margin: 3ch 0 0 0;
    display: grid;
    grid-template-columns: 4ch auto;
    grid-template-rows: auto auto auto;
    row-gap: 1ch;
}

.contact > svg {
    margin: auto 0;
    font-size: x-large;
    color: #0067c5;
}

.listWrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 3ch 0 0 0;
}

.iconWrapper {
    border-radius: 100%;
    background-color: #0067c5;
    display: flex;
    align-items: center;
    width: 7ch;
    height: 7ch;
}

.iconWrapper > svg {
    color: #fefefe;
    font-size: 4ch;
    margin: auto;
}

.content {
    display: inline-block;
    margin: 0;
}

.appointmentWrapper {
    border-radius: 3px;
    background-color: #efefef;
    padding: 1ch;
    gap: 2ch;
    margin-top: 3ch;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.appointmentWrapper > div p {
    display: inline-block;
}

.appointmentWrapper > div > h1 {
    margin: 0 0.5ch 0 0;
    display: inline-block;
}

.appointmentWrapper > h2 {
    grid-column: span 2;
}
