.patientCard {
    width: 100%;
}

.infoGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0;
}

.infoGroup > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.infoGroup > div > div{
    background-color: blue;
    width: 2px;
}

.infoGroup > div > p{
    text-transform: capitalize;

}

.contact {
    margin: 2% 0;
}